.admin-services-service{

    & .client-label {
        font-weight: 600;
    }
    & i {
        cursor: pointer;
    }

    & .services-service-id {
        font-weight: 600;
    }

    &:nth-child(odd) {
        background-color: #f1f1f1;
    }

    .bi-pencil {
        cursor: pointer;
    }
}

.image-wrapper {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.image-wrapper img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.image-wrapper .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.image-wrapper:hover .overlay {
    opacity: 1;
}

.delete-icon {
    font-size: 24px;
}

.photo-circle {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
